server:
  port: 8080

keycloak:
  url: ${KEYCLOAK_URL:http://localhost:8080}
  realm: ${KEYCLOAK_REALM:payment-system}
  client-id: ${KEYCLOAK_CLIENT_ID:individuals-api}
  client-secret: ${KEYCLOAK_CLIENT_SECRET}

  admin-token:
    ttl-seconds: ${KEYCLOAK_ADMIN_TOKEN_TTL_SECONDS:300}
    refresh-margin-seconds: ${KEYCLOAK_ADMIN_TOKEN_REFRESH_MARGIN_SECONDS:60}

  requests-retry:
    attempts: ${KEYCLOAK_REQUESTS_RETRY_ATTEMPTS:3}
    delay-seconds: ${KEYCLOAK_REQUESTS_DELAY_SECONDS:1}
    request-timeout-seconds: ${KEYCLOAK_REQUESTS_TIMEOUT_SECONDS:10}

spring:
  main:
    banner-mode: off

  application:
    name: individuals-api

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: ${keycloak.client-id}
            client-secret: ${keycloak.client-secret}
            authorization-grant-type: password
        provider:
          keycloak:
            token-uri: ${keycloak.url}/realms/${keycloak.realm}/protocol/openid-connect/token
      resourceserver:
        jwt:
          issuer-uri: ${keycloak.url}/realms/${keycloak.realm}

management:
  prometheus:
    metrics:
      export:
        enabled: true
  endpoints:
    web:
      exposure:
        include: health,info,prometheus

otel:
  service:
    name: ${spring.application.name}
  traces:
    exporter: otlp
  metrics:
    exporter: none
  logs:
    exporter: none
  exporter:
    otlp:
      endpoint: ${OTLP_TRACING_GRPC_ENDPOINT:http://alloy:4317}
      protocol: grpc